{% extends 'base.html' %}
{% block content %}


    <h3>List Pendaftaran Belum Bayar</h3>
    <a href="{% url 'course:export_pendaftar_belum_bayar' %}">
        <button type="button" class="mt-2 btn btn-primary mb-2">Export</button>
    </a>
    <a href="{% url 'course:export_pendaftar_belum_bayar' %}?last=3">
        <button type="button" class="mt-2 btn btn-primary mb-2">Export Last 3</button>
    </a>
    <a href="{% url 'course:export_pendaftar_belum_bayar' %}?last=7">
        <button type="button" class="mt-2 btn btn-primary mb-2">Export Last 7</button>
    </a>
    <table class="table" id="table_id">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nama Peserta</th>
      <th scope="col">Email</th>
      <th scope="col">Training</th>
      <th scope="col">Training Type</th>
      <th scope="col">Jadwal</th>
      <th scope="col">Jumlah FU</th>
      <th scope="col">Last FU</th>
      <th scope="col">Created At</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for pendaftar in list_pendaftar %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ pendaftar.user.profile.name }}</td>
      <td>{{ pendaftar.user.email }}</td>
      <td>{{ pendaftar.training.name }}</td>
      <td>{{ pendaftar.get_training_type }}</td>
      <td>{{ pendaftar.scheddule }}</td>
      <td>{{ pendaftar.fu_count }}</td>
      <td>{{ pendaftar.last_fu }}</td>
      <td>{{ pendaftar.created_at }}</td>
      <td><a href="{% url 'course:fu' pendaftar.id %}" target="_blank">FU</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
