{% extends 'base.html' %}
{% block content %}


    <h3>{{ title }}</h3>
<p><strong>Total Unique Payment: </strong> {{ total_unique_payment }}</p>
    <table class="table" id="table_id">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nama Peserta</th>
      <th scope="col">Training</th>
      <th scope="col">Training Type</th>
      <th scope="col">Jadwal</th>
      <th scope="col">Yang harus dibayarkan</th>
      <th scope="col">Jumlah Bayar</th>
      <th scope="col">Bukti Pembayaran</th>
      <th scope="col">No HP</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for pembayaran in list_pembayaran %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ pembayaran.user.profile.name }}</td>
      <td>{{ pembayaran.registration.training.name }}</td>
      <td>{{ pembayaran.registration.get_training_type }}</td>
      <td>{{ pembayaran.registration.scheddule }}</td>
      <td>{{ pembayaran.registration.format_harga_diskon }}</td>
      <td>{{ pembayaran.get_amount }}</td>
      <td><a target="_blank" href="{% if pembayaran.proof_of_payment %}{{ pembayaran.proof_of_payment.url }}{% endif %}">Bukti</a> </td>
      <td><a href="{{ pembayaran.user.profile.get_wa_link }}" target="_blank">  {{ pembayaran.user.profile.phone_number }}</a></td>

      {% if pembayaran.status == 0 %}
        <td>
        <span class="badge badge-danger">{{ pembayaran.get_status }}</span>
        </td>
        {% elif pembayaran.status == 1 %}
        <td>
        <span class="badge badge-primary">{{ pembayaran.get_status }}</span>
        </td>
        {% elif pembayaran.status == 2 %}
        <td>
        <span class="badge badge-warning">{{ pembayaran.get_status }}</span>
        </td>
        {% elif pembayaran.status == 3 %}
        <td>
        <span class="badge badge-success">{{ pembayaran.get_status }}</span>
        </td>
        {% elif pembayaran.status == 4 %}
        <td>
        <span class="badge badge-dark">{{ pembayaran.get_status }}</span>
        </td>
        {% endif %}

      <td>
          <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action
          </button>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'course:konfirmasi_pembayaran_dp' pembayaran.id %}">Konfirmasi DP</a>
            <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'course:konfirmasi_pembayaran_lunas' pembayaran.id %}">Konfirmasi Lunas</a>
            <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'course:hapus_konfirmasi' pembayaran.id %}">Hapus Konfirmasi</a>
            <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'course:tolak_pembayaran' pembayaran.id %}">Tolak Pembayaran</a>

          </div>
        </div>
      </td>

    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
