{% extends 'base.html' %}
{% block content %}


    <h3>List Diskon</h3>
    <a href="{% url 'course:add_diskon' %}">
        <button type="button" class="mt-2 btn btn-primary mb-2">Add Diskon</button>
    </a>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Diskon Kode</th>
      <th scope="col">Persen</th>
      <th scope="col">End Date</th>
      <th scope="col">Training Type</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for s in diskon %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ s.kode }}</td>
      <td>{{ s.persen }}</td>
      <td>{{ s.end_date }}</td>
      <td>{{ s.get_training_type }}</td>
      <td>
          <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action
          </button>
              <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'course:update_diskon' s.id %}">Edit</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteModal-{{ s.id }}">Delete</a>
              </div>
          </div>
        </div>
      </td>

    </tr>

        <!-- Modal -->
        <div class="modal fade" id="deleteModal-{{ s.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Anda yakin ingin menghapus training {{ s.kode }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="{% url 'course:delete_diskon' s.id %}">
                  <button type="button" class="btn btn-danger">Delete</button>
                </a>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
