{% extends 'base.html' %}
{% block content %}


    <h3>List Peserta <b>{{ jadwal.training }} - {{ jadwal }}</b></h3>
    <table class="table" id="table_id">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nama Peserta</th>
      <th scope="col">Training</th>
      <th scope="col">Training Type</th>
      <th scope="col">Jadwal</th>
      <th scope="col">Email</th>
      <th scope="col">No HP</th>
      <th scope="col">Alamat</th>
    </tr>
  </thead>
  <tbody>
    {% for pendaftar in peserta_bayar %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ pendaftar.user.profile.name }}</td>
      <td>{{ pendaftar.training.name }}</td>
      <td>{{ pendaftar.get_training_type }}</td>
      <td>{{ pendaftar.scheddule }}</td>
      <td>{{ pendaftar.user.email }}</td>
      <td>{{ pendaftar.user.profile.phone_number }}</td>
      <td>{{ pendaftar.user.profile.address }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
