
  <div id="container" style="width: 75%;">
    <canvas id="peserta_online" data-url="{% url 'api:peserta_online' %}"></canvas>
    <canvas id="peserta_offline" data-url="{% url 'api:peserta_offline' %}"></canvas>
    <canvas id="pendaftar_bulanan" data-url="{% url 'api:pendaftar_bulanan' %}"></canvas>
    <canvas id="peserta_bayar_bulanan" data-url="{% url 'api:peserta_bayar_bulanan' %}"></canvas>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    $(function () {

      var $pesertaOnline = $("#peserta_online");
      $.ajax({
        url: $pesertaOnline.data("url"),
        success: function (data) {

          var ctx = $pesertaOnline[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Peserta Online',
                backgroundColor: 'blue',
                data: data.data
              }]          
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Grafik Peserta Online Total'
              }
            }
          });

        }
      });

    });


  $(function () {

      var $pesertaOffline = $("#peserta_offline");
      $.ajax({
        url: $pesertaOffline.data("url"),
        success: function (data) {

          var ctx = $pesertaOffline[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Peserta Offline',
                backgroundColor: 'blue',
                data: data.data
              }]
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Grafik Peserta Offline Total'
              }
            }
          });

        }
      });

    });


  $(function () {

      var $pendaftarBulanan = $("#pendaftar_bulanan");
      $.ajax({
        url: $pendaftarBulanan.data("url"),
        success: function (data) {

          var ctx = $pendaftarBulanan[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Pendaftar',
                backgroundColor: 'blue',
                data: data.data
              }]
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Grafik Pendaftar Bulanan'
              }
            }
          });

        }
      });

    });





  $(function () {

      var $pesertaBayarBulanan = $("#peserta_bayar_bulanan");
      $.ajax({
        url: $pesertaBayarBulanan.data("url"),
        success: function (data) {

          var ctx = $pesertaBayarBulanan[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Pendaftar Bayar',
                backgroundColor: 'blue',
                data: data.data
              }]
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Grafik Pendaftar Bayar Bulanan'
              }
            }
          });

        }
      });

    });

  </script>
