{% extends 'accounts/base_account.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Reset Password</h3>
          <p>Masukkan email Anda, kami akan mengirimkan link untuk melakukan reset password.</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Kirim</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}