DATABASE_URL=postgresql://user:password@localhost:5435/db

EMAIL_HOST=smtp.gmail.com
EMAIL_USE_TLS=True
EMAIL_PORT=587
EMAIL_HOST_USER=ahmadrosid30121997@gmail.com
EMAIL_HOST_PASSWORD=]*7=-a.r'J9W~PJ%

BASE_URL=localhost:8000
