<!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:hi_idn' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>Hi IDN</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://idn.id/promo">
          <i class="fas fa-fw fa-table"></i>
          <span>Promo</span></a>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider">
