<!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>


      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="https://www.idn.id/jadwal/">
          <i class="fas fa-fw fa-table"></i>
          <span>Jadwal Offline</span></a>
      </li>



      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="https://www.idn.id/online/">
          <i class="fas fa-fw fa-table"></i>
          <span>Jadwal Online</span></a>
      </li>



      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:hi_idn' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>Hi IDN</span></a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:affiliate' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>Affiliate</span></a>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider">
