<!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'course:list_jadwal' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>List Jadwal Offline</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'course:list_jadwal_online' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>List Jadwal Online</span></a>
      </li>

    <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'course:list_training' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>List Training</span></a>
      </li>

    <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'course:list_diskon' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>List Diskon</span></a>
      </li>


      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Pembayaran</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'course:list_pembayaran' %}">Konfirmasi Pembayaran</a>
            <a class="collapse-item" href="{% url 'course:list_pembayaran_dp_lunas' %}">Pembayaran DP / Lunas</a>
            <a class="collapse-item" href="{% url 'course:list_pembayaran_ditolak' %}">Pembayaran Ditolak</a>
            <a class="collapse-item" href="{% url 'course:list_pendaftar_belum_bayar' %}">Belum Bayar</a>

          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          <i class="fas fa-fw fa-cog"></i>
          <span>Settings</span>
        </a>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'course:set_max_peserta' %}">Konfigurasi Max Peserta</a>

          </div>
        </div>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider">
