{% extends "email/base_email.html" %}

{% block content %}
Hi {{ name }}, <br/><br>
<p>Terimakasih telah melakukan pembayaran DP untuk training berikut.</p>
<table>
    <tr>
        <td><b>Training</b></td>
        <td>{{ training }}</td>
    </tr>
    <tr>
        <td><b>Tipe Training</b></td>
        <td>{{ training_type }}</td>
    </tr>
    <tr>
        <td><b>Jadwal</b></td>
        <td>{{ jadwal }}</td>
    </tr>
</table>

<p>Kami akan mengirimkan detail informasi training maksimal H-2 sebelum training</p>
<strong>**Fasilitas Training Online akan dikirim apabila sudah melunasi pembayaran,
        pastikan alamat yang dicantumkan saat pendaftaran sudah lengkap & benar</strong>
{% endblock%}