{% extends "email/base_email.html" %}

{% block content %}
Hi {{ name }}, <br/><br>
<p>Mohon maaf, pembayaran untuk training berikut kami tolak dikarenakan bukti pembayaran
    tidak valid. Silahkan lakukan konfirmasi pembayaran ulang dengan
    menyertakan bukti pembayaran yang valid.</p>
<table>
    <tr>
        <td><b>Training</b></td>
        <td>{{ training }}</td>
    </tr>
    <tr>
        <td><b>Tipe Training</b></td>
        <td>{{ training_type }}</td>
    </tr>
    <tr>
        <td><b>Jadwal</b></td>
        <td>{{ jadwal }}</td>
    </tr>
</table>
{% endblock %}