{% extends "email/base_email.html" %}

{% block content %}
Hi {{ name }}, <br/><br>
<p>Terimakasih telah mendaftar training di IDN.ID dengan detail berikut.</p>
<table>
    <tr>
        <td><b>Training</b></td>
        <td>{{ training }}</td>
    </tr>
    <tr>
        <td><b>Tipe Training</b></td>
        <td>{{ training_type }}</td>
    </tr>
    <tr>
        <td><b>Jadwal</b></td>
        <td>{{ jadwal }}</td>
    </tr>
    <tr>
        <td><b>Harga</b></td>
        {% if harga_diskon != harga_asli %}
        <td><strike>Rp {{ harga_asli }}</strike> Rp {{ harga_diskon }}</td>
        {% else %}
        <td>Rp {{ harga_asli }}</td>
        {% endif %}
    </tr>
</table>

<p>Dapat melakukan pembayaran full maupun DP minimal 500rb. Konfirmasi pembayaran dilakukan maksimal H-3 Training
pada jam kerja 09.00-17.00 WIB</p>
<p>Kirim pembayaran ke salah satu rekening berikut</p>
<ul>
    <li>BCA 5435040460 an Deny Kurnia Nawangsari</li>
    <li>Mandiri 1170000007724 an Deny Kurnia Nawangsari</li>
</ul>
<p>Setelah melakukan pembayaran, lakukan konfirmasi pembayaran dari Dashboard IDN</p>

    <strong>**Fasilitas Training Online akan dikirim apabila sudah melunasi pembayaran,
        pastikan alamat yang dicantumkan saat pendaftaran sudah lengkap & benar</strong>
{% endblock %}